.landingPageBg {
  background-color: white;
  height: 90vh;
  display: flex;
  align-items: center;
}

.textBoxContainer {
  width: 50%;
  min-width: 601px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recyclingCircle {
  width: 50%;
  display: flex;
  justify-content: center;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.textFont {
  font-family: 'Roboto';
  font-weight: 1000;
}

.haikuHeader {
  color: rgba(96, 22, 187, 1);
  font-size: 1.2rem;
}

.haiku {
  font-size: 3rem;
}

.haiku p {
  margin: 0px 0px -10px 0px;
}

.haiku p:last-child {
  margin: 0px;
}

.haiku span {
  color: rgba(96, 22, 187, 1);
}

.haikuFooter {
  margin-top: 2vh;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.8rem;
}

.popper {
  margin-left: 2px;
}

.bookNowContainer {
  margin-top: 5vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 4px 6px 20px rgba(96, 22, 187, 1);
  animation: float 2s infinite alternate ease-in-out;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(10px);
  }
}

.bookNowContainer p {
  margin: 0px 0px 0px 8px;
}

.chooseLocation {
  padding: 10px;
}

.chooseDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 10px 0px;
}

.datePickerWrapper {
  margin: 8px;
}

.datePickerWrapper div {
  display:flex;
  align-items: center;
}

.datePickerWrapper input {
  height: 25px; 
  padding-left: 30px;
  font-size: 16px;
}

.bookNowButton {
  background-color:rgba(96, 22, 187, 1);
  color: white;
  border-radius: 100px;
}

.bookNowButton:hover {
  background-color: rgba(126, 52, 217, 1);
  color: rgba(255, 255, 255, 0.8);
}

.bookNowButton:active {
  background-color: rgba(66, -2, 157, 1);
  color: rgba(230, 230, 230, 1);
}

.bookNowButton:focus {
  outline: none;
}