.containerCol {
  background-color: white;
  height:calc(100vh - 200px);
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: rgba(12, 17, 75, 1);
  color:white;
}

.containerCol h1 {
  font-size: 3rem;
  align-self: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactUsBanner {
  display: flex;
  background-image: linear-gradient(to right,rgba(40,201,149,1),rgba(37,174,214,1));
  width: 100%;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: 100% auto;
  align-items: center;
}

.dark .contactUsBanner {
  background-image: linear-gradient(rgba(12,17,75,1),rgba(31,45,197,1));
}

.contactUsBannerContent {
  background-repeat: no-repeat;
  height: 40vh;
  margin: auto;
}

.container {
  display: flex;
}

.container h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.meetUs {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  width: 50%;
  height: 40vh;
}

.meetUs p {
  margin: 0px;
}

.dark .meetUs {
  background-color: rgba(0,0,0,1);
}

.inquiryBox {
  background-color:rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.dark .inquiryBox {
  background-color: rgba(17,20,37,1);
}

.inquryButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: fit-content;
}

.inquryButton:hover {
  color: blue;
}

.inquryButton:active {
  color: red;
}

.inquryButton:focus {
  outline: none;
}