.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.nameField {
  display: flex;
}

.formButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contactTextField {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.alertBox {
  margin-top: 15px;
}

.alertBox p {
  margin: 0px;
}