.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.nameField {
  display: flex;
}

.formButtons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}