.registerForm {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.helperText {
  line-height: unset !important;
  margin: 4px 10px 0 !important;
  font-size: 0.7rem !important;
}

/* .registerBtn:active {
  transform: scale(0.95);
}

.registerBtn:focus {
  outline: none;
} */

/* Responsive styles
@media (max-width: 576px) {
  .registerBtn {
    padding: 10px 30px;
  }
}
*/
